<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.BoardMapper">
    <sql id="boardColumns">
        idx
        , title
        , content
        , writer
        , view_cnt
        , notice_yn
        , secret_yn
        , delete_yn
        , insert_time
        , update_time
        , delete_time
    </sql>

    <insert id="insertBoard" parameterType="BoardDTO">
        INSERT INTO tb_board ( <include refid="boardColumns"></include> )
        VALUES (
        #{idx}
        , #{title}
        , #{content}
        , #{writer}
        , 0
        , IFNULL(#{noticeYn}, 'N')
        , IFNULL(#{secretYn}, 'N')
        , 'N'
        , NOW()
        , NULL
        , NULL
        )
    </insert>

    <!--    select에서는 resultType을 명시해주는것을 볼 수 있다.-->
    <select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
        SELECT
        <include refid="boardColumns"/>
        FROM
        tb_board
        WHERE
        delete_yn = 'N'
        AND
        idx = #{idx}
    </select>

    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE tb_board
        SET
        update_time = NOW()
        , title = #{title}
        , content = #{content}
        , writer = #{writer}
        , notice_yn = IFNULL(#{noticeYn}, 'N')
        , secret_yn = IFNULL(#{secretYn}, 'N')
        WHERE
        idx = #{idx}
    </update>

    <update id="deleteBoard" parameterType="long">
        UPDATE tb_board
        SET
        delete_yn = 'Y'
        , delete_time = NOW()
        WHERE
        idx = #{idx}
    </update>

    <select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
        SELECT
        <include refid="boardColumns"/>
        FROM
        tb_board
        WHERE
        delete_yn = 'N'
        ORDER BY
        notice_yn ASC,
        idx DESC,
        insert_time DESC
        LIMIT
<!--        마이바티스에서 #{파라미터}는 여러 멤버를 가진 객체의 경우 Getter에 해당됩니다.-->
<!--        startPage는 Criteria 클래스의 getStartPage 메서드의 리턴 값을 의미-->
        #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
        SELECT
        COUNT(*)
        FROM
        tb_board
        WHERE
        delete_yn = 'N'
    </select>
</mapper>